*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 30px;
}
#nav h3{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 50px;
}
#intro{
    height: 46%;
    width: 100%;
    padding: 40px 50px;
}
#intro h1{
    letter-spacing: -3px;
    font-size: 90px;
    line-height: 75px;
}
#place{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#place h3, #place h4{
    font-size: 25px;
    font-weight: 500;
}
#hero-image{
    height: 70%;
    width: 100%;
    background-image: url(https://i.pinimg.com/564x/76/aa/1e/76aa1e1731395b4caabd0a398f8dde4b.jpg);
    
}
#about{
    height: 45%;
    width: 100%;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 45px;
}
#about h2{
    width: 65%;
    font-size: 58px;
    line-height: 50px;
}
#about-part2{
    width: 33%;
    height: 100%;
    padding: 0 40px;
    border-left: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about-part2 h3{
    font-size: 25px;
    font-weight: 600;
}
#icons i{
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 17px;
    border-radius: 50px;
    margin-right: 5px;
}
#work{
    height: 55%;
    width: 100%;
    display: flex;
    padding: 35px ;
}
#work1{
    width: 30%;
    height: 100%;
    border-right: 2px solid #000;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
#work1 h3{
    font-size: 25px;
    font-weight: 600;
}
#work1 i{
    font-size: 25px;
}
#work2{
    width: 70%;
    height: 100%;
    padding: 0 40px;
}
.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.work2-part:nth-child(1){
    border-bottom: 2px solid #000;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
}
.work2-part .elem:nth-child(1){
    border-right: 2px solid #000;
}
.work2-part .elem:nth-child(2){
    padding-left: 40px;
}
.work2-part .elem h3{
    font-size: 25px;
}
.work2-part .elem p{
    font-size: 15px;
    color: #2a2727;
}
